@media screen and (min-width: 360px) and (max-width: 719px){

    header{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    /* header h1{
    }
    header nav{
    }
    header nav ul{
    } */
    ul li{
        padding: 1rem;
    }

    .jppomg{
        display: block;
        margin: 0 auto;
        padding: 1rem;
        width: 100%;
        font-size: 1rem;
    }
    .posImgCafe{
        padding: 1rem 1rem 2rem 1rem;
        width: 100%;
        font-size: 1rem;
    }
    .posImgCafe h2{
        font-size: 2rem;
    }

    .reservez{
        width: 100%;
        margin: 0 auto;
        padding: 1rem 1rem 7rem 1rem;
        font-size: 1rem;
    }
    .map{
        padding: 0 0 2rem 0;
    }
    .mapDiv{
        width: 100%;
        padding: 1rem;
    }
    .mapDiv2{
        font-size: 1rem;
        padding: 1rem 1rem 3rem 1rem;
    }
    .ligne4, .ligne11{
        height: 25px;
        width: 25px;
    } 
    .map iframe{
        width: 100%;
    }
    .button{
        font-size: 1rem;
        padding: 1rem
    }








    .formulaire{
        font-size: 1rem;
        padding: 1rem 1rem 1rem 1rem;
        width: 100%;
    }
    .formulaire form input{
        width: 100%;
    }
    .formulaire form textarea{
        width: 100%;
    }
}
/* @media screen and (min-width: 720px) and (max-width: 1023px){


}
@media screen and (min-width: 1024px) and (max-width: 1439px){

}
@media  */