*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    font-family: 'Open Sans', sans-serif;
    color: #222;
}
html{
    min-height: 100%;
    position: relative;
}
header{
    background-color: #333;
    overflow: auto;
}
h1{
    padding: 1.23rem;
    float: left;
}
h2{
    font-size: 3rem;
}
h1 a{
    text-decoration: none;
    color: white;
}
.active{
    background-color: #666666;
}
.nav{
    float: right;
    list-style-type: none;
    overflow: hidden;
}
nav ul li{
    display: inline-block;
    padding: 1.9rem;
}
nav ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
}
ul li:hover{
    background-color: #444;
}
.centerJppomg{
    text-align: center;
}
.jppomg{
    width: 30%;
    display: inline-block;
    padding-top: 5em;
    padding-bottom: 5em;
    text-align: center;
    color: #444;
}
.textWhite{
    color: white;
}
.posImgCafe{
    text-align: center;
    padding: 2.5rem 0 2.5rem 0;
    margin: 0 auto;
    width: 40%;
}
hr{
    border-color: black;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1em;
    width: 20px;
}
.imgCafe{
    background-image: url(../images/frame.jpg);
    background-position: center;
    background-size: cover;
}
.imgCafeGirl{
    padding-bottom: 20em;
    background-image: url(../images/person-1.jpg);
    background-position: center;
    background-size: cover;
}
h3,h2{
    text-align: center;
}
.reservez{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
    padding: 5em;
    padding-bottom: 10em;
}
.reservez p, .imgCafe p{
    padding-bottom: 2rem;
}
.map{
    text-align: center;
    padding: 7em;
    width: auto;
}
.mapDiv, .mapDiv2{
    display: inline-block;
    padding: 2em;
}
.h3Left{
    text-align: left;
}
.mapDiv2{
    vertical-align: top;
    text-align: left;
    font-size: 1.5rem;
}
iframe{
    width: 40em;
    height: 25em;
}
button{
    font-size: 1rem;
    border: none;
    border-radius: 2em;
    background-color: #444;
    color: white;
    padding: 0.5em;
}
.button{
    text-decoration: none;
    border: none;
    border-radius: 2em;
    background-color: #444;
    color: white;
    padding: 0.5em;
}
.blankButton{
    background-color: white;
    color: #444;
}
.blankButton:hover{
    background-color: #222;
    transition: 0.3s;
    color: white;
}
p,h3{
    padding: 0.5em;
}
.metroBolt{
    font-weight: bold;
}
div .ligne{
    background-color: #333;
    height: 1px;
    width: 100%;
}
.ligne4{
    text-align: center;
    height: 35px;
    width: 35px;
    background-color: pink;
    border-radius: 50%;
    display: inline-block;
}
.ligne11{
    text-align: center;
    height: 35px;
    width: 35px;
    background-color: brown;
    border-radius: 50%;
    display: inline-block;
}
.formulaire{
    font-size: 1.5rem;
    padding: 10rem;
    margin-left: auto;
    margin-right: auto;
    width: 60rem;
}
.formulaire label{
    display: inline-block;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-weight: bold;
}
.formulaire form p{
    margin: 0;
    padding: 0;
}
.formulaire form input{
    height: 2rem;
    width: 100%;
    font-size: 1.3rem;
}
.formulaire form textarea{
    font-size: 1.3rem;
    height: 3rem;
    width: 100%;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #222;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}